
.table-container{
    width: 100%;
    .row-container{
        &:hover{
            background-color: var(--primary-color);
            cursor: pointer;
            color: #fff;
        }
        &:focus{
            background-color: orange;
        }
        th{
            border-bottom: 2px solid;
        }
    }    
}

.focus{
    background-color: var(--primary-color);
    cursor: pointer;
    color: #fff;
}

.alert-contrainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    .alert-warning{
        font-size: 2rem;
        font-weight: 500;
    }
}