/* You can add global styles to this file, and also import other style files */


:root{
    --primary-color:#023e8a;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}
hr{
    margin: none;
}

.container{
    margin: auto;
    margin-top: 60px;
    max-width: 1700px!important;
    width: 100%;
}

.btn-style{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem 1rem;
    transition: all ease .3s;
    &:hover{
        background-color: var(--primary-color);
        color: #fff;
    }
}

.input-style{
    border: 2px solid;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 0 0 .5rem;
    &:focus{
        outline-color: var(--primary-color);
    }
}

.consultar-container{
    align-items: center;
    border-radius: 5px;
    display: flex;
    padding: .5rem 1rem;
    transition: all ease .3s;
    &:hover{
        background-color: var(--primary-color);
        color: #fff;
    }
    label{
        display: block;
        font-weight: 500;
        height: 100%;
        margin: 0;
        margin-right: .5rem;
    }

}

.hidden{
    visibility: hidden;
}

.modal-container{
    background-color: rgba($color: #000000, $alpha: .5);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.container-modal{
    position: relative;
    width: 100%;
    height: 100vh
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
